/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --btn-bg-color: #0061FF;
    --link-color: #0F6AFF;
    --business-color: #61082B;
    --border-col-30: #F7F7F8;
    --colore-nazione: #999999;
    --border-nazione: #737373;
    --bg-jumbo: #B4D0E7;
    --border-bottom: #F0F0F1;
    --bg-designit: #A2D39B;
    --border-designit: #D0E9CD;
    --bg-arizona: #61082B;
    --bg-florida: #0093CE;
    --bg-topps: #FF1C1C;
    --bg-bicycle: #D5001F;
    --bg-hearst: #B4D0E7;
    --bg-lonely: #0D2481;
    --bg-clear: #FFD830;
    --bg-partner: #F5F5F5;
    --hr-color: #E4E4E6;
    --color-time: #7E8B96;
    --hr-color-plan: #DBDBDD;
    --check-color: #0765FF;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

section {
    max-width: 100%;
}

h1 {
    font-size: 81px;
}

h2 {
    font-size: 38px;
    font-weight: 900;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

ul.unstyle {
    list-style: none;
}

img {
    max-width: 100%;
}


/* #endregion */


/* #region hover */

a[class^="btn"]:hover {
    box-shadow: 0px 0px 2px 2px var(--bg-florida);
}

nav ul.unstyle>li.dropdown:hover {
    background-color: rgb(220 220 220);
}

.navbar .col-50>ul>li>a:hover {
    color: var(--btn-bg-color)
}

#business .col-50.text-right a:hover {
    box-shadow: 0 0 0 4px var(--business-color);
}

#contact_partner .col-40 a:hover {
    box-shadow: 0 0 0 4px var(--btn-bg-color);
}

footer ul.unstyle>li:hover a {
    text-decoration: underline;
}


/* #endregion */


/* #region utility */

.p-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
}

.h-400 {
    height: 400px;
}

.container-center-1 {
    width: 80%;
    margin: 0 auto;
}

.container-center {
    width: 70%;
    margin: 0 auto;
}

.btn {
    background-color: var(--btn-bg-color);
    color: white;
    padding: 5px 40px;
    text-decoration: none;
}

.btn-nav {
    background-color: var(--btn-bg-color);
    color: white;
    padding: 5px 30px;
    text-decoration: none;
}

.min-w-200 {
    min-width: 200px;
}

.min-w-300 {
    min-width: 300px;
}

.min-w-600 {
    min-width: 600px;
}

.min-w-700 {
    min-width: 700px;
}


/* #region margin padding */

.m-right3 {
    margin-right: 3%;
}

.m-5 {
    margin: 0 5%;
}

.m-t-22 {
    margin-top: 22px;
}

.m-top-sm {
    margin-top: 50px;
}

.m-top {
    margin-top: 100px;
}

.p-top75 {
    padding-top: 75px;
}

.p-top50 {
    padding-top: 50px;
}

.p-40 {
    padding: 40px;
}

.m-bottom50 {
    margin-bottom: 50px;
}

.m-bottom70 {
    margin-bottom: 70px;
}

.m-bottom100 {
    margin-bottom: 100px;
}

.m-bottom150 {
    margin-bottom: 150px;
}

.m-top100 {
    margin-top: 100px;
}

.border-bottom {
    border-bottom: 1px solid var(--border-bottom);
}


/* #endregion */


/* #region cols */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col"] {
    float: left;
}

.col-9 {
    width: 9%;
}

.col-13 {
    width: 13%;
}

.col-16 {
    width: 16%;
}

.col-30 {
    width: 30%;
}

.col-39 {
    width: 39%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-50-50 {
    width: 50%;
    height: 50%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

.col-100-50 {
    width: 100%;
    height: 50%;
}


/* #endregion */


/* #endregion */


/* #region header */

#site-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    background-color: var(--color-white);
}

.navbar .col-50 {
    padding: 20px 45px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.navbar ul.unstyle {
    display: inline-block;
}

.navbar .col-50 ul.unstyle.list-nav>li {
    display: inline-block;
    margin: 0 25px;
    line-height: 30px;
}

.navbar .col-50 ul.unstyle.list-nav>li>a {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
}

.btn-sign {
    display: inline-block;
}

.navbar ul.unstyle>li>a {
    color: var(--color-black);
    text-decoration: none;
}

.navbar li>a:hover li {
    background-color: grey;
}


/* dropdown */

.dropdown-content {
    padding: 10px;
    background-color: rgb(220, 220, 220);
}

.dropdown-content li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown-content ul.unstyle {
    width: 100%;
}

li.dropdown {
    position: relative;
    margin: 0;
    padding: 0;
}

li .dropdown-content {
    display: none;
    font-size: 12px;
    width: 100%;
    position: absolute;
    background-color: rgb(220 220 220);
    z-index: 1;
}

li .dropdown-content.right {
    right: 0;
    padding-right: 10px;
}

li.dropdown:hover .dropdown-content {
    display: block;
}

li.dropdown a {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.dropdown-content li:hover {
    background-color: lightgrey;
}


/* #endregion */


/* #region main */


/* #region jumbo */

.bg-jumbo {
    width: 100%;
    height: 760px;
    background-color: var(--bg-jumbo);
}

.title-1 {
    width: 100%;
}

#jumbotron .row {
    margin-top: 60px;
}

#jumbotron .col-40 {
    padding-right: 105px;
}

#jumbotron .col-40>p {
    font-size: 20px;
    font-weight: 500;
}

.btn-jumbo {
    margin: 40px 0;
}

.btn-jumbo>div {
    font-size: 16x;
    font-weight: 500;
    margin-top: 20px;
}

#jumbotron i {
    font-size: 50px;
}

#jumbotron .col-40>a {
    color: black;
}


/* #endregion */


/* #region plan */

.title-plan {
    padding: 30px 0;
}

#plan .col-30,
#plan .col-100 {
    border: 3px solid var(--border-col-30);
}

#plan .col-30 {
    height: 1030px;
}

#plan .col-30>.plan,
#plan .col-100>.plan {
    border-bottom: 3px solid var(--border-col-30);
    padding: 20px 0;
    font-weight: 500;
}

.plan-choise {
    padding: 50px 0 0;
}

.plan-choise input {
    padding: 0;
    height: 20px;
    width: 20px;
}

.plan-choise label {
    vertical-align: top;
}

.plan-choise>span {
    font-weight: 500;
    margin-right: 20px;
}

.type-plan {
    padding: 30px 60px 0;
}

.type-typology .col-50>strong,
.type-typology>strong {
    font-size: 30px;
    margin-bottom: 15px;
}

.col-30 .type-typology {
    margin-bottom: 20px;
}

.type-price {
    margin-bottom: 10px;
}

.type-time {
    color: var(--color-time);
    margin-bottom: 40px;
    font-size: 14px;
}

.type-max-user,
.type-space,
.type-function,
.hr-plan,
.desc-plan>ul>li {
    font-size: 15px;
    margin-bottom: 27px;
}

.btn-plan {
    padding: 15px 0 30px;
}

.btn-plan>div {
    padding-top: 27px;
}

.btn-plan>div>a {
    color: var(--link-color)
}

.hr-plan {
    width: 50px;
    color: var(--hr-color-plan);
}

.desc-plan>strong {
    font-size: 18px;
}

.desc-plan>ul>li {
    margin-top: 27px;
}

.desc-plan>ul>li>span::before {
    font-weight: 600;
    color: var(--check-color);
    content: "\2713";
}

.type-function>span:first-child {
    display: inline-block;
    float: left;
    margin: 0 5px 10px 0;
}

.desc-plan li>span:first-child {
    display: inline-block;
    float: left;
    margin: 0 5px 10px 0;
}

#plan .col-100 .desc-plan .btn-plan {
    display: inline-block;
}


/* #endregion */


/* #region contact partner */

#contact_partner .col-40 {
    padding: 60px 0;
}

#contact_partner .partner-title {
    margin-bottom: 35px;
}

#contact_partner .col-40 p {
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 50px;
}

#contact_partner a {
    color: var(--color-black);
    background-color: transparent;
    text-decoration: none;
    border: 1px solid var(--color-black);
    padding: 8px 20px;
    font-weight: 500;
}

#contact_partner img {
    height: 600px;
}


/* #endregion */


/* #region operation */

.title-operation {
    margin-bottom: 40px;
}

.col-30>.col-100-50:first-child {
    margin-bottom: 5px;
}

#operation .sub-title {
    padding-right: 10px;
}

#operation strong {
    font-size: 27px;
}

#operation p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
}

#operation a {
    color: var(--color-black);
    text-decoration: underline;
}


/* #endregion */


/* #region team */

.title-team {
    padding: 30px 600px 30px 0;
}

.title-team>a {
    color: var(--link-color);
    font-size: 16px;
    margin: 20px 0;
    display: inline-block;
}

.col-50-50>.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-50-50 img {
    filter: invert(1);
    width: 112px;
    object-fit: cover;
}

#partner-img {
    width: 165px;
    object-fit: cover;
}

.hr-partner {
    width: 50px;
    border-color: var(--hr-color);
    margin: 25px 0 20px;
}

.partner-desc p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
    font-weight: 500;
}


/* #region bg-color team section */

.bg-designit {
    background-color: var(--bg-designit);
}

.bg-arizona {
    background-color: var(--bg-arizona);
}

.bg-florida {
    background-color: var(--bg-florida);
}

.bg-topps {
    background-color: var(--bg-topps);
}

.bg-bicycle {
    background-color: var(--bg-bicycle);
}

.bg-hearst {
    background-color: var(--bg-hearst);
}

.bg-lonely {
    background-color: var(--bg-lonely);
}

.bg-clear {
    background-color: var(--bg-clear);
}

.bg-partner {
    background-color: var(--bg-partner);
}

.col-50-50:hover {
    border: 10px solid rgba(255, 255, 255, 0.4);
}


/* #endregion */


/* #endregion */


/* #region business */

#business {
    background-color: var(--bg-jumbo);
    color: var(--business-color);
    padding: 130px 0;
}

#business a {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 60px;
}

#business .title-business {
    padding-right: 100px;
}

#business h2 {
    font-size: 42px;
}


/* #endregion */


/* #region faq */

.title-faq {
    padding: 45px 0;
}

.reply [class^="col"] {
    font-size: 16px;
    font-weight: bold;
    padding: 45px 0;
}


/* accordion */

.accordion-item-content {
    height: 0;
    overflow: hidden;
    font-weight: 500;
}

.accordion-item:hover .accordion-item-content {
    height: 5rem;
    padding: 0.5rem 7rem 1.5rem 0.5rem;
}


/* #endregion */


/* #endregion */


/* #region footer */

#site-footer {
    background-color: var(--color-black);
    padding: 100px 0 70px;
}

.language {
    color: var(--colore-nazione);
    padding-top: 30px;
    border-top: 1px solid var(--border-nazione);
    width: 120px;
}

.language select {
    color: var(--colore-nazione);
    background-color: transparent;
    border: none;
}

footer h4 {
    color: var(--color-white);
    margin-bottom: 26px;
}

footer ul.unstyle>li>a {
    color: var(--color-white);
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
}


/* #endregion */