/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --btn-bg-color: #0061FF;
    --link-color: #0F6AFF;
    --business-color: #61082B;
    --colore-nazione: #999999;
    --bg-hero: #B4D0E7;
}


/* #endregion */


/* #region debug */


/* #region navbar */

.debug .navbar .col-9 {
    background-color: green;
    height: 75px;
}

.debug .navbar .col-13 {
    background-color: green;
    height: 75px;
}

.debug .navbar .col-39 {
    background-color: blue;
    height: 75px;
}

.debug .navbar .col-50 {
    background-color: yellow;
    height: 75px;
}


/* #endregion */


/* debug section */

.debug .hero-section {
    background-color: paleturquoise;
    height: 90vh;
}

.debug .bg-hero {
    height: 82vh;
}

.debug .container-center {
    background-color: palegreen;
}

.debug .container-center .title-1 {
    background-color: palevioletred;
    height: 250px;
}

.debug .container-center .col-40 {
    height: 655px;
    background-color: aqua;
}

.debug .container-center .col-60 {
    height: 655px;
    background-color: aquamarine;
}


/* #endregion */


/* #region utility */

.p-relative {
    position: relative;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col"] {
    float: left;
}

.col-9 {
    width: 9%;
}

.col-13 {
    width: 13%;
}

.col-39 {
    width: 39%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.container-center {
    width: 80%;
    margin: 0 auto;
    padding: 150px 0 0;
}


/* #endregion */


/* #region header */

.navbar {
    background-color: var(--color-white);
    padding: 10px 20px;
}


/* #endregion */


/* region main */

.bg-hero {
    width: 100%;
    background-color: var(--bg-hero);
}

.title-1 {
    width: 100%;
}

#plan {
    margin-top: 200px;
}


/* #endregion */